.home__contact {
  margin: 1.5rem;

  h2 {
    display: flex;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      margin: 0.5rem;
      border: none;
    }
  }
}

#form {
  position: relative;
  width: 10rem;
  margin: 4rem auto 100px auto;
}

input {
  font-size: 0.9rem;
  width: 20rem;
  height: 2.8rem;
  padding: 0px 15px 0px 15px;
  margin: 0.5rem;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 3px var(--contact-form);
  border-radius: 1.7rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: var(--contact-form);
  color: var(--bg-color);
}

textarea {
  width: 20rem;
  max-width: 32rem;
  height: 7rem;
  max-height: 7rem;
  padding: 1rem;
  margin: 0.5rem;
  background: transparent;
  color: #726659;
  font-size: 0.9rem;
  /* font-family: 'Lato', sans-serif; */
  border: solid 3px var(--contact-form);
  border-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: var(--contact-form);
  color: var(--bg-color);
}

#submit {
  width: 20rem;
  margin: 0.5rem;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--contact-form);
  outline:none;
  cursor: pointer;
  border: solid 3px var(--contact-form);
}

#submit:hover {
  color: var(--bg-color);
}

@media only screen and (min-width: 769px) {
  input, textarea, #submit {
    width: 24rem;
  }
}

@media only screen and (min-width: 1279px) {
  input, textarea, #submit {
    width: 30rem;
  }
}