.home__hero {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 5rem;
  overflow: hidden;

  h1 {
    font-size: 8rem;
  }


  span:hover {
    color: #726659;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
  }

}