.home__hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: left;
  /* margin-top: 4rem; */
  padding: 0 2rem;

  h1 {
    font-size: 5rem;
    line-height: 1.2;
  }

  span:hover {
    color: #726659;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
  }

}