h1, h2, h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.5px;
}

h1 {
  font-size: 14rem;
  margin: 0;
  line-height: 0.9;
}

h2 {
  font-size: 2.5rem;
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100dvw;
  overflow-wrap: break-word;
}

.home__about {
  background-color: var(--main-font);
  color: var(--bg-color);
  padding: 2rem;
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: left;
  
}

.scroll-class {
  opacity: 1;
}

.home__projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}