h1,
h2,
h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.5px;
}

h1 {
  font-size: 14rem;
  margin: 0;
  line-height: 0.9;
}

h2 {
  font-size: 2.5rem;
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100dvw;
  overflow-wrap: break-word;
}

.home__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: var(--main-font);
}

.home__about__wrapper {
  width: 80%;
  color: var(--bg-color);
  padding: 2rem;
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: left;
}

.scroll-class {
  opacity: 1;
}

.home__projects {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 769px) {
  .home__about {
    padding: 7rem;
  }

  .home__about__wrapper {
    width: 60%;
  }
}