h1 {
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Bebas Neue', sans-serif;
  font-size: 14rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-family: 'Bebas Neue', sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__about {
  font-size: 2rem;
  line-height: 1.4;
  max-width: 60%;
  height: 100vh;
}

.scroll-class {
  opacity: 1;
}

.home__projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}