.home__nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 0 2rem;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-color);

  button {
    background: none;
    border: 2px solid var(--btn-primary);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--btn-primary);
    padding: 0.5rem 1.5rem;
    margin: 1rem;
    border-radius: 1.7rem;
  }

  button:hover {
    cursor: pointer;
    background-color: var(--btn-primary);
    color: var(--bg-color);
    transition: 0.5s;
  }
}