.home__projects {
  width: 100%;

  .swiper {
    width: 90%;
    height: 25rem;

    .swiper-slide {
      display: flex;
      justify-content: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: var(--btn-primary);
    }
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: solid 3px var(--contact-form);
    border-radius: 1.7rem;

    .screenshot {
      width: 13rem;
    }

    .icon-container {
      .icon {
        color: var(--btn-primary);
        margin: 0.5rem;
      }
    }
  }
}

@media only screen and (min-width: 430px) {
  .home__projects {
    .swiper {
      width: 80%;
    }
    article {
      .screenshot {
        width: 50%;
        max-width: 500px;
      }
    }
  }  
}