.home__projects {
  width: 100%;

  .swiper {
    width: 90%;
    max-width: 45rem;
    height: 25rem;

    .swiper-slide {
      display: flex;
      justify-content: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: var(--btn-primary);
    }
  }

  article {
    padding: 2rem;
    border: solid 3px var(--contact-form);
    border-radius: 1.7rem;

    .screenshot {
      width: 10rem;
      height: 100%;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon-container {
        .icon {
          color: var(--btn-primary);
          margin: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 450px) {
  .screenshot {
    width: 25rem;
  }
}