.home__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
  p {
    max-width: 80%;
    line-height: 2;
  }

  h2 {
    display: flex;
    justify-content: center;
  }
}