.home__skills {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    max-width: 80%;
    line-height: 2;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  .tab-buttons {
    button {
      background-color: var(--btn-primary);
      border-radius: 1rem;
      padding: 0.3rem 0.7rem;
      margin: 0.3rem;
      font-family: "Josefin Sans", sans-serif;
      font-size: 1rem;
      cursor: pointer;
    }
  }

  .tab-content {
    width: 20rem;
    height: 14rem;
    padding: 1rem;
    margin: 1rem;

    border: solid 3px var(--contact-form);
    border-radius: 1.7rem;

  
    .tab-container {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .icon-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;
      svg {
        width: 3rem;
        height: 100%;
      }
    }
    }
    

    

  }
}

@media only screen and (min-width: 769px) {
  .home__skills {
    .tab-buttons {
      button {
        padding: 1rem 3rem;
        border-radius: 1.5rem;
        font-size: 1.1rem;
        margin: 0.7rem;
      }
    }

    .tab-content {
      width: 42rem;
      height: 20rem;
      font-size: 1.7rem;

      .tab-container {
        .icon-container {
          margin: 1.4rem;
          svg {
            width: 4.5rem;
          }
        }
      }
    }
  }
}