:root {
  margin: 0;
  font-size: 18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --main-font: #F2F2F2;
  --btn-primary: #a67458;
  --btn-primary-hover: #C39680; 
  --bg-color: #262626;
  --contact-form: #b3aca7;
}

*, *:before, *:after {
  box-sizing: border-box;
  border-width: 0;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjx4wXiWtFCc.woff) format('woff');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v22/Qw3aZQNVED7rKGKxtqIqX5EAnx4VRLI.ttf) format('truetype');
}

body {
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: var(--bg-color);
  color: var(--main-font);
}
