:root {
  margin: 0;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --main-font: #F2F2F2;
  --btn-primary: #a67458;
  --btn-primary-hover: #C39680; 
  --bg-color: #262626;
  --contact-form: #b3aca7;
}

*, *:before, *:after {
  box-sizing: border-box;
  border-width: 0;
  /* outline: 1px solid red; */
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  color: var(--main-font);
}
